<article class="box">
  <figure>
    <a href="#" class="hover-effect">
      <img [src]="tour.thumbPhotoUrl" alt="">
    </a>
  </figure>
  <div class="details">
    <span class="price">{{tour.price | currency}}</span>
    <h4 class="box-title">{{tour.tourName}}</h4>
    <hr>
    <ul class="features check">
      <li>City Tour In 3 Hours</li>
      <li>Enjoy World Famous Restaurant</li>
      <li>Wine Tester Trips</li>
      <li>Night Street Life in Downtown </li>
    </ul>
    <hr>
    <div class="text-center">
      <div class="time">
        <i class="soap-icon-clock yellow-color"></i>
        <span>{{tour.startDate|date:'dd MMM yyyy'}} - {{tour.endDate|date:'dd MMM yyyy'}}</span>
      </div>
    </div>
    <a href="#" class="button btn-small full-width">BOOK NOW</a>
  </div>
</article>
